body {
    width: 100%;
    height: 100vh;
    margin: 0;
}

.img-statusx {
    position: absolute;
    width: 24px !important;
    height: 24px !important;
    margin: 55px -25px;
}

.profilecard {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 300px;
    min-height: 450px;
    border-radius: 4px;
    border: 1px solid rgb(51 65 183 / 76%);
    background: #4352cd;
    display: flex;
    flex-direction: column;
}

.profilecard .me {
    padding-top: 15px;
    margin: 0 auto;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: rgba(20, 24, 67, 0.76);
    color: #fff;
}

.profilecard .me .avatar {
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
    width: 80px;
    height: 80px;
}
.profilecard .me .avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profilecard .me .username {
    margin: 15px auto 15px auto;
    text-align: center;
    font-weigth: 100;
    font-size: 14px;
}
.profilecard .me .username strong {
    color: #fff;
}
.profilecard .me .username span {
    color: #ccc;
    letter-spacing: -1px;
}
.profilecard .role, .profilecard .note {
    padding: 0.5rem 0.5rem 2rem 0.5rem;
    color: #ced8eb;
    font-size: 10px;
    display: flex;
    flex-direction: column;
}
.profilecard .note .noteheader {
    padding-bottom: 0.5rem;
}
.profilecard .note textarea {
    padding: 0.5rem;
    resize: none;
    background: transparent;
    border: 0;
    color: #ced8eb;
    font-size: 10px;
}
.profilecard .note textarea:hover {
    background: #202225;
}
.profilecard .message {
    padding: 0.5rem;
    border-top: 1px solid #23262a;
}

.profilecard .message input {
    width: 100%;
    border: 1px solid #23262a;
    background: #36393f;
    padding: 0.5rem;
    color: hsla(0,0%,100%,.7);
    font-size: 12px;
}

.profilecard .tip {
    font-size: 13px;
    padding: 0.2rem 0.5rem;
    margin: auto;
}
.profilecard .tip strong {
    color: rgb(67, 181, 129);
}

.profilecard .tip span {
    color: #ced8eb;
}
.color {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 2px;
}
.rolex {
    display: inline-flex;
    border-radius: 4px;
    background-color: #292b2f;
    margin: 2px;
    padding: 1px 5px;
}
.roles-list {
    margin-top: 5px;
}
.game_icon img {
    width: 42px;
    border-radius: 10px;
}
.close {
    position: absolute;
    right: 7px;
    top: 7px;
    width: 32px;
    height: 18px;
    opacity: 0.7;
    border-radius: 3px;
    background-color: green;
    cursor: pointer;
}
.close:hover {
    opacity: 1;
}
.close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 18px;
    width: 2px;
    background-color: #fff;
}
.close:before {
    transform: rotate(45deg);
}
.close:after {
    transform: rotate(-45deg);
}